<!DOCTYPE html>
<html ng-app="basicApp">
<head>
    <title>Basic MVC Angular App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>

   	<br />
    <div class="container">
        <div class="panel panel-success">
        
        	<div class="panel-heading panel-title">
        		<h1>Basic MVC Angular App</h1>
			</div>

			<div class="panel-body">

				<h2>no controller ($rootScope)</h2>
				<input type="text" ng-model="sometext" />
				<h3>Hello {{ sometext }}</h3>
				<button ng-click="doSomething()">Clear</button>
				<hr />

				<div ng-controller="basicController">
					<h2>Controller 1 ($scope 1)</h2>
					<input type="text" ng-model="sometext" />
					<h3>Hello {{ sometext }}</h3>
					<button ng-click="doSomething()">Clear</button>
<!--
					<br />
					<br />
					<div ng-controller="basicController" class="well">
						<h2>Nested Controller 2 ($scope 2, inside $scope 1)</h2>
						<input type="text" ng-model="sometext" />
						<h3>Hello {{ sometext }}</h3>
						<button ng-click="doSomething()">Clear</button>
					</div>
-->
				</div>


<!--				<hr />

				<div ng-controller="basicController">
					<h2>Separate Controller 3 ($scope 3)</h2>
					<input type="text" ng-model="sometext" />
					<h3>Hello {{ sometext }}</h3>
					<button ng-click="doSomething()">Clear</button>
				</div>
-->

			</div>
			
		</div>
	</div>
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <script type="text/javascript" src="controller.js"></script>

</body>
</html>
